name: Deploy to Netlify

on:
  push:
    branches:
      - main
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout kódu
      - name: Checkout code
        uses: actions/checkout@v2

      # Nastavení Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      # Instalace závislostí
      - name: Install dependencies
        run: npm install

      # Build aplikace
      - name: Build application
        run: npm run build

      # Instalace Netlify CLI
      - name: Install Netlify CLI
        run: npm install -g netlify-cli

      # Deploy na Netlify
      - name: Deploy to Netlify
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: netlify deploy --prod --dir=build
